# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/*.tfplan
terraform/crash.log

# Packer
packer/packer_cache/
packer/manifest.json
packer/.packer.d/

# OS
.DS_Store
*.swp
*~

# Local artifacts
*.log
*.local
